Repository ngtcp2/ngtcp2, pull requests merged in 2024-11, with the labels that each got.

#1402 Retry token validation with more detailed error reporting
  crypto/includes/ngtcp2/ngtcp2_crypto.h
  crypto/shared.c
  examples/h09server.cc
  examples/server.cc
Labels: area/crypto

#1406 examples: Call getnameinfo only when logging is required
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
Labels: area/lib

#1412 Deal with super small RTT
  lib/ngtcp2_bbr.c
  lib/ngtcp2_conn.c
  lib/ngtcp2_rtb.c
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_conn_test.h
Labels: area/lib

#1413 Fix assertion which refers to the wrong variable
  lib/ngtcp2_conn.c
Labels: area/lib

#1414 tests: Add failmalloc tests for server scenario
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_conn_test.h
Labels: area/tests

#1415 Bump wolfssl to v5.7.4
  .github/workflows/build.yml
  README.rst
  docker/Dockerfile
  interop/Dockerfile
Labels: tls/wolfssl, area/tls

#1416 Bump boringssl
  .github/workflows/build.yml
  README.rst
Labels: tls/boringssl, area/tls

#1417 Bump picotls
  .github/workflows/build.yml
  README.rst
Labels: tls/picotls, area/tls

#1418 Bump libressl to v4.0.0
  .github/workflows/build.yml
  README.rst
  ci/build_libressl.sh
Labels: area/tls, tls/libressl

#1419 Bump aws-lc to v1.39.0
  .github/workflows/build.yml
  README.rst
Labels: area/tls, tls/aws-lc

#1422 Update doc
  lib/includes/ngtcp2/ngtcp2.h
Labels: area/document

#1423 Rename NGTCP2_INITIAL_TABLE_LENBITS to NGTCP2_INITIAL_HASHBITS
  lib/ngtcp2_map.c
Labels: area/lib

#1425 example/client: Enable GSO
  examples/client.cc
  examples/client.h
  examples/h09client.cc
  examples/h09client.h
Labels: area/examples

#1426 examples: Enable X25519MLKEM768 for boringssl
  examples/util_openssl.cc
Labels: area/examples

#1428 Update security policy
  SECURITY.md
Labels: area/document

#1429 Exercise qlog code in fuzzing
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1430 Do not extend app-limited period
  lib/ngtcp2_conn.c
Labels: area/lib

#1431 Fuzz sequences of different received packets
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1432 Fuzz timestamp in read_write_pkt fuzzer
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1433 Exercise all CC algorithms in read_write_pkt fuzzer
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1434 Exercise client in read_write_pkt fuzzer
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1435 clang-format
  fuzz/read_write_pkt.cc
Labels: area/fuzz
