Repository ngtcp2/ngtcp2, pull requests merged in 2024-03, with the labels that each got.

#1144 Move ngtcp2_transport_params functions to its own file
  lib/CMakeLists.txt
  lib/Makefile.am
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  lib/ngtcp2_conversion.c
  lib/ngtcp2_crypto.c
  lib/ngtcp2_crypto.h
  lib/ngtcp2_transport_params.c
  lib/ngtcp2_transport_params.h
  tests/CMakeLists.txt
  tests/Makefile.am
  tests/main.c
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_transport_params_test.c
  tests/ngtcp2_transport_params_test.h
Labels: area/lib

#1145 Remove unused ngtcp2_conversion_test.c
  tests/ngtcp2_conversion_test.c
  tests/ngtcp2_conversion_test.h
Labels: area/lib

#1146 Move struct version to the last argument
  lib/ngtcp2_settings.c
  lib/ngtcp2_transport_params.c
Labels: area/lib

#1147 git clone recursive
  .github/workflows/build.yml
  README.rst
  docker/Dockerfile
  interop/Dockerfile
  makerelease.sh
Labels: area/github, area/interop, area/docker

#1154 ngtcp2_conn_write_connection_close: Fix assertion failure
  lib/ngtcp2_conn.c
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1158 Workaround llvm issue
  .github/workflows/build.yml
Labels: area/github

#1159 fuzz: Add missing include
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1160 fuzz: Workaround llvm issue
  .github/workflows/cflite_batch.yaml
Labels: area/github, area/fuzz

#1161 Add 2 new ngtcp2_ccerr_type values
  lib/includes/ngtcp2/ngtcp2.h
  lib/ngtcp2_conn.c
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_conn_test.h
Labels: area/lib

#1162 Add handshake fuzzer
  .clusterfuzzlite/build.sh
  fuzz/corpus/read_write_handshake_pkt/packet-0
  fuzz/corpus/read_write_handshake_pkt/packet-1
  fuzz/read_write_handshake_pkt.cc
Labels: area/fuzz

#1163 docker: Use copy --link
  docker/Dockerfile
  interop/Dockerfile
Labels: area/interop, area/docker

#1164 Bump aws-lc to v1.23.0
  .github/workflows/build.yml
  README.rst
Labels: area/crypto, tls/aws-lc

#1165 Bump boringssl
  .github/workflows/build.yml
  CMakeLists.txt
  README.rst
  configure.ac
Labels: tls/boringssl, area/tls

#1166 Bump picotls
  .github/workflows/build.yml
  README.rst
Labels: tls/picotls, area/tls

#1167 Switch to distroless/base-nossl
  docker/Dockerfile
Labels: area/docker

#1169 Add padding to at most 1200 bytes
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  lib/ngtcp2_ppe.c
  lib/ngtcp2_ppe.h
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_test_helper.c
Labels: area/lib

#1170 Add ngtcp2_ppe padding tests
  tests/CMakeLists.txt
  tests/Makefile.am
  tests/main.c
  tests/ngtcp2_ppe_test.c
  tests/ngtcp2_ppe_test.h
Labels: area/tests

#1175 autotools: Switch to tar-pax
  configure.ac
Labels: build/autotools, area/build

#1176 Pack more QUIC packets on large PMTUD probes
  examples/h09server.cc
  examples/server.cc
  examples/server_base.h
Labels: area/examples

#1180 Drop UDP datagram if it comes from a well-known port
  examples/h09server.cc
  examples/server.cc
  examples/util.cc
  examples/util.h
Labels: area/examples

#1181 Rework transmitting empty STREAM frame
  lib/includes/ngtcp2/ngtcp2.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_strm.h
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1182 Take into account SCID length when computing minimum packet size
  lib/ngtcp2_conn.c
  lib/ngtcp2_pkt.h
Labels: area/lib

#1184 More prohibited ports
  examples/h09server.cc
  examples/server.cc
  examples/util.cc
  examples/util.h
Labels: area/examples

#1183 client: Handle error from feed_data
  examples/client.cc
  examples/h09client.cc
Labels: area/lib

#1185 server: Send stateless reset
  examples/h09server.cc
  examples/h09server.h
  examples/server.cc
  examples/server.h
Labels: area/examples

#1186 crypto: Adjust token stack buffer sizes
  crypto/shared.c
Labels: area/crypto

#1187 crypto: Reduce NGTCP2_CRYPTO_TOKEN_RAND_DATALEN to 16
  crypto/includes/ngtcp2/ngtcp2_crypto.h
Labels: area/crypto

#1188 Bump wolfssl to v5.7.0-stable
  .github/workflows/build.yml
  README.rst
  docker/Dockerfile
  interop/Dockerfile
Labels: tls/wolfssl, area/tls

#1190 Group up integration test output
  .github/workflows/build.yml
Labels: area/github

#1191 QUIC min Short packet is 22
  examples/h09server.cc
  examples/server.cc
Labels: area/examples

#1189 cmake: add BUILD_TESTING, fix MSVC with static + shared
  CMakeLists.txt
  CMakeOptions.txt
  lib/CMakeLists.txt
Labels: build/cmake, area/build

#1192 adding "git submodule" and libev stuff
  README.rst
Labels: area/document
