Repository ngtcp2/ngtcp2, pull requests merged in 2024-08, with the labels that each got.

#1278 ngtcp2_pq: Refactor, cleanup doc and style
  lib/ngtcp2_pq.c
  lib/ngtcp2_pq.h
Labels: area/lib

#1279 ngtcp2_ksl: Cleanup doc and style
  lib/ngtcp2_ksl.c
  lib/ngtcp2_ksl.h
Labels: area/lib

#1280 ngtcp2_balloc: Optimize alignment space for 16 bytes boundary malloc
  lib/ngtcp2_balloc.c
  lib/ngtcp2_balloc.h
Labels: area/lib

#1282 ngtcp2_map: Fix bug that psl is not updated when an element is removed
  lib/ngtcp2_map.c
Labels: area/lib

#1283 ngtcp2_map: Clear data just once
  lib/ngtcp2_map.c
Labels: area/lib

#1285 Fix typo in error log for SSL_CTX_new
  examples/tls_server_context_quictls.cc
Labels: area/examples

#1286 Adjust the alignment of ngtcp2_ksl_node
  lib/ngtcp2_ksl.c
Labels: area/lib

#1287 CI: Run pytest for group-c
  .github/workflows/build.yml
Labels: area/github

#1288 Ksl refactor
  lib/ngtcp2_ksl.c
  lib/ngtcp2_ksl.h
Labels: area/lib

#1289 Fix ksl fuzzer
  fuzz/ksl.cc
Labels: area/fuzz

#1290 Const
  lib/ngtcp2_ksl.c
  lib/ngtcp2_ksl.h
  lib/ngtcp2_map.c
  lib/ngtcp2_map.h
  lib/ngtcp2_pq.c
  lib/ngtcp2_pq.h
Labels: area/lib

#1291 fuzz: Exercise ksl deletion a bit more
  fuzz/ksl.cc
Labels: area/fuzz

#1292 Use OSSL_ENCRYPTION_LEVEL instead of ssl_encryption_level_t.
  crypto/quictls/quictls.c
Labels: area/crypto

#1294 clang-format
  crypto/quictls/quictls.c
Labels: area/lib

#1295 Update BBR
  lib/ngtcp2_bbr.c
  lib/ngtcp2_bbr.h
  lib/ngtcp2_rst.c
  lib/ngtcp2_rst.h
  lib/ngtcp2_rtb.h
Labels: area/lib

#1296 bbr: Remove resetting and remembering values on loss
  lib/ngtcp2_bbr.c
  lib/ngtcp2_bbr.h
Labels: area/lib

#1298 Bump boringssl
  .github/workflows/build.yml
  README.rst
Labels: tls/boringssl, area/tls

#1299 Bump aws-lc to v1.34.2
  .github/workflows/build.yml
  README.rst
Labels: area/tls, tls/aws-lc

#1300 Bump picotls
  .github/workflows/build.yml
  README.rst
Labels: tls/picotls, area/tls

#1301 Bump wolfssl to v5.7.2
  .github/workflows/build.yml
  README.rst
  docker/Dockerfile
  interop/Dockerfile
Labels: tls/wolfssl, area/tls

#1302 interop: Bump ubuntu to 24.04
  interop/Dockerfile
Labels: area/interop

#1304 ngtcp2_ringbuf: Update doc and style
  lib/ngtcp2_ringbuf.c
  lib/ngtcp2_ringbuf.h
Labels: area/lib

#1305 Vec refactor
  lib/ngtcp2_strm.c
  lib/ngtcp2_vec.c
  lib/ngtcp2_vec.h
  tests/ngtcp2_vec_test.c
Labels: area/lib

#1306 ngtcp2_cid: Update doc and style
  lib/ngtcp2_cid.c
  lib/ngtcp2_cid.h
Labels: area/lib

#1307 Add const qualifier
  lib/ngtcp2_acktr.c
  lib/ngtcp2_acktr.h
  lib/ngtcp2_gaptr.c
  lib/ngtcp2_gaptr.h
  lib/ngtcp2_idtr.c
  lib/ngtcp2_idtr.h
  lib/ngtcp2_ppe.c
  lib/ngtcp2_ppe.h
  lib/ngtcp2_ringbuf.c
  lib/ngtcp2_ringbuf.h
  lib/ngtcp2_rob.c
  lib/ngtcp2_rob.h
  lib/ngtcp2_strm.c
  lib/ngtcp2_strm.h
Labels: area/lib

#1309 ngtcp2_pkt_decode_hd_long: Do not touch dest on error
  lib/ngtcp2_pkt.c
Labels: area/lib

#1310 ngtcp2_pkt_decode_ack_frame: Remove useless initialization
  lib/ngtcp2_pkt.c
Labels: area/lib

#1312 Fixing cmake export
  lib/CMakeLists.txt
Labels: build/cmake, area/build

#1313 Rtb on pkt lost
  lib/ngtcp2_rtb.c
Labels: area/lib

#1314 Rtb refactor
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  lib/ngtcp2_rtb.c
  lib/ngtcp2_rtb.h
  tests/ngtcp2_rtb_test.c
Labels: area/lib

#1315 Crypto refactor
  lib/ngtcp2_crypto.c
  lib/ngtcp2_crypto.h
Labels: area/lib

#1318 Pkt refactor
  lib/ngtcp2_pkt.c
  lib/ngtcp2_pkt.h
Labels: area/lib

#1319 get_uvarint: Simplify by adopting consistent function signature
  lib/ngtcp2_conv.c
Labels: area/lib

#1320 ngtcp2_get_uint*: Use dest directly
  lib/ngtcp2_conv.c
Labels: area/lib
