Repository ngtcp2/ngtcp2, pull requests merged in 2024-12, with the labels that each got.

#1438 examples: Remove unnecessary http-parser include
  examples/server.cc
Labels: area/examples

#1439 examples: Cleanup build files around http-parser
  examples/CMakeLists.txt
  examples/Makefile.am
Labels: area/examples

#1444 Fuzz remote transport params in read_write_pkt fuzzer
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1443 Update ksl fuzzer with FuzzedDataProvider
  fuzz/ksl.cc
Labels: area/fuzz

#1445 Remove outdated PMTUD probe packet handling when it is lost
  lib/ngtcp2_rtb.c
Labels: area/lib

#1446 Add ngtcp2_rob fuzzer
  .clusterfuzzlite/build.sh
  fuzz/rob.cc
Labels: area/fuzz

#1448 Fix rob fuzzer
  fuzz/rob.cc
Labels: area/fuzz

#1449 Bump boringssl
  .github/workflows/build.yml
  README.rst
Labels: tls/boringssl, area/tls

#1450 Bump picotls
  .github/workflows/build.yml
  README.rst
Labels: tls/picotls, area/tls

#1451 Bump aws-lc
  .github/workflows/build.yml
  README.rst
Labels: area/tls, tls/aws-lc

#1453 Generate periodic fuzzing coverage reports
  .github/workflows/cflite_cron.yaml
Labels: area/fuzz

#1455 Remove len parameter from ngtcp2_pkt_hd_init
  lib/ngtcp2_conn.c
  lib/ngtcp2_pkt.c
  lib/ngtcp2_pkt.h
  tests/ngtcp2_pkt_test.c
  tests/ngtcp2_rtb_test.c
  tests/ngtcp2_test_helper.c
Labels: area/lib

#1456 Remove ineffective use of NGTCP2_PKT_FLAG_NONE
  tests/ngtcp2_pkt_test.c
Labels: area/lib

#1458 Revert "Do not extend app-limited period"
  lib/ngtcp2_conn.c
Labels: area/lib

#1459 Cosmetic cleanup
  lib/ngtcp2_cc.c
Labels: area/lib

#1460 C99 designated initializers
  examples/gtlssimpleclient.c
  examples/simpleclient.c
  lib/includes/ngtcp2/ngtcp2.h
  lib/ngtcp2_gaptr.c
  lib/ngtcp2_ksl.c
  lib/ngtcp2_map.c
  lib/ngtcp2_mem.c
  lib/ngtcp2_range.c
  lib/ngtcp2_rob.c
  tests/main.c
  tests/ngtcp2_acktr_test.c
  tests/ngtcp2_cc_test.c
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_conv_test.c
  tests/ngtcp2_gaptr_test.c
  tests/ngtcp2_idtr_test.c
  tests/ngtcp2_ksl_test.c
  tests/ngtcp2_map_test.c
  tests/ngtcp2_pkt_test.c
  tests/ngtcp2_pmtud_test.c
  tests/ngtcp2_ppe_test.c
  tests/ngtcp2_pv_test.c
  tests/ngtcp2_qlog_test.c
  tests/ngtcp2_range_test.c
  tests/ngtcp2_ringbuf_test.c
  tests/ngtcp2_rob_test.c
  tests/ngtcp2_rtb_test.c
  tests/ngtcp2_settings_test.c
  tests/ngtcp2_str_test.c
  tests/ngtcp2_strm_test.c
  tests/ngtcp2_test_helper.c
  tests/ngtcp2_transport_params_test.c
  tests/ngtcp2_tstamp_test.c
  tests/ngtcp2_vec_test.c
  tests/ngtcp2_window_filter_test.c
Labels: area/lib, area/examples

#1461 ngtcp2_gaptr: Assert !ngtcp2_ksl_it_end
  lib/ngtcp2_gaptr.c
Labels: area/lib
