Repository ngtcp2/ngtcp2, pull requests merged in 2024-07, with the labels that each got.

#1261 ngtcp2_ppe: Cleanup doc and fix typo
  lib/ngtcp2_ppe.c
  lib/ngtcp2_ppe.h
Labels: area/lib

#1262 ngtcp2_strm: Cleanup doc and style
  lib/ngtcp2_strm.c
  lib/ngtcp2_strm.h
Labels: area/lib

#1264 Refactor ksl
  lib/ngtcp2_ksl.c
Labels: area/lib

#1265 ngtcp2_gaptr: Cleanup doc and style
  lib/ngtcp2_gaptr.c
  lib/ngtcp2_gaptr.h
Labels: area/lib

#1266 ngtcp2_idtr: Clean doc and fix wrong assertions
  lib/ngtcp2_idtr.c
  lib/ngtcp2_idtr.h
Labels: area/lib

#1268 Added options to command find_package
  lib/CMakeLists.txt
  lib/Makefile.am
  lib/config.cmake.in
Labels: build/cmake, area/build

#1267 Fix deprecation warning in examples/template.h
  examples/template.h
Labels: area/examples

#1272 interop: Fix ticket nonce size issue
  interop/Dockerfile
Labels: area/interop

#1273 ngtcp2_range: Cleanup doc and style
  lib/ngtcp2_range.c
  lib/ngtcp2_range.h
Labels: area/lib

#1274 Update doc
  lib/ngtcp2_ksl.h
Labels: area/lib

#1275 ngtcp2_idtr: Remove server field
  lib/ngtcp2_conn.c
  lib/ngtcp2_idtr.c
  lib/ngtcp2_idtr.h
  tests/ngtcp2_idtr_test.c
Labels: area/lib

#1276 Refactor map
  lib/ngtcp2_conn.c
  lib/ngtcp2_map.c
  lib/ngtcp2_map.h
  tests/ngtcp2_map_test.c
  tests/ngtcp2_map_test.h
Labels: area/lib

#1277 ngtcp2_map: Store psl in bucket
  lib/ngtcp2_map.c
  lib/ngtcp2_map.h
Labels: area/lib
