Repository ngtcp2/ngtcp2, pull requests merged in 2024-09, with the labels that each got.

#1321 ngtcp2_put_pkt_num: Simplify and add tests
  lib/ngtcp2_conv.c
  tests/ngtcp2_conv_test.c
  tests/ngtcp2_conv_test.h
Labels: area/lib

#1322 Rename ngtcp2_put_uint* functions
  lib/ngtcp2_conn.c
  lib/ngtcp2_conv.c
  lib/ngtcp2_conv.h
  lib/ngtcp2_pkt.c
  lib/ngtcp2_transport_params.c
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_conv_test.c
  tests/ngtcp2_pkt_test.c
  tests/ngtcp2_test_helper.c
  tests/ngtcp2_transport_params_test.c
Labels: area/lib

#1324 Rename ngtcp2_get_uint* functions
  lib/ngtcp2_conn.c
  lib/ngtcp2_conv.c
  lib/ngtcp2_conv.h
  lib/ngtcp2_log.c
  lib/ngtcp2_pkt.c
  lib/ngtcp2_transport_params.c
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_conv_test.c
  tests/ngtcp2_conv_test.h
  tests/ngtcp2_pkt_test.c
Labels: area/lib

#1325 Remove unused ngtcp2_get_uint48be and ngtcp2_put_uint48be
  lib/ngtcp2_conv.c
  lib/ngtcp2_conv.h
  tests/ngtcp2_conv_test.c
  tests/ngtcp2_conv_test.h
Labels: area/lib

#1326 Remove useless condition
  lib/ngtcp2_acktr.c
Labels: area/lib

#1327 Update doc
  lib/includes/ngtcp2/ngtcp2.h
Labels: area/document

#1328 Add LibreSSL
  README.rst
  doc/source/programmers-guide.rst
Labels: area/document

#1329 ngtcp2_acktr: Simplify
  lib/ngtcp2_acktr.c
Labels: area/lib

#1330 Remove unused NGTCP2_MAX_RX_(INITIAL|HANDSHAKE)_CRYPTO_DATA
  lib/ngtcp2_conn.h
Labels: area/lib

#1331 ngtcp2_map: Fix hash computation
  lib/ngtcp2_map.c
  lib/ngtcp2_map.h
Labels: area/lib

#1333 Map refactor
  lib/ngtcp2_map.c
Labels: area/lib

#1335 Conditional compile improvements
  crypto/shared.c
  lib/ngtcp2_unreachable.c
Labels: area/lib, area/crypto

#1336 clang-format
  lib/ngtcp2_unreachable.c
Labels: area/lib

#1337 get_uvarint: Remove unnecessary shift
  lib/ngtcp2_conv.c
Labels: area/lib

#1340 ngtcp2/version.h: Prepend NGTCP2_ prefix to the include guard
  lib/includes/ngtcp2/version.h.in
Labels: area/lib

#1341 Update macro comments missed in #1339
  lib/includes/ngtcp2/ngtcp2.h
  lib/ngtcp2_net.h
Labels: area/lib

#1342 Remove unused ngtcp2_nth_(server|client)_(bidi|uni)_id functions
  lib/ngtcp2_conv.c
  lib/ngtcp2_conv.h
  tests/ngtcp2_conv_test.c
  tests/ngtcp2_conv_test.h
Labels: area/lib

#1343 Small optimization for immediate ack
  lib/ngtcp2_conn.c
Labels: area/lib

#1345 Check pending_early_datalen before try sending 0RTT data
  lib/ngtcp2_conn.c
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1346 Add test to verify empty stream retransmission in 0RTT on Retry
  tests/ngtcp2_conn_test.c
Labels: area/tests

#1347 examples: Add missing square brackets
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
Labels: area/examples

#1351 Fix ARM64 __popcnt intrinsics
  lib/ngtcp2_ringbuf.c
Labels: area/lib

#1352 Do not enter app_limited if connection is pacing limited
  lib/ngtcp2_conn.c
Labels: area/lib

#1353 ngtcp2_cc: Remove target_cwnd, use is_app_limited flag instead
  lib/ngtcp2_cc.c
  lib/ngtcp2_cc.h
Labels: area/lib

#1354 Call ngtcp2_rst_on_ack_recv only when a packet is newly acked
  lib/ngtcp2_rtb.c
Labels: area/lib

#1355 ngtcp2_rst: Remove window filter and ineffective next_round_delivered
  lib/ngtcp2_rst.c
  lib/ngtcp2_rst.h
  lib/ngtcp2_rtb.c
Labels: area/lib

#1356 Revert "ngtcp2_rst: Remove window filter and ineffective next_round_delivered"
  lib/ngtcp2_rst.c
  lib/ngtcp2_rst.h
  lib/ngtcp2_rtb.c
Labels: area/lib

#1357 Call cc on_ack_recv only when a packet is newly acknowledged
  lib/ngtcp2_rtb.c
Labels: area/lib

#1358 ispow2: Better fallback implementation
  lib/ngtcp2_ringbuf.c
Labels: area/lib

#1359 ngtcp2_rst: Fix round counting
  lib/ngtcp2_rst.c
Labels: area/lib

#1360 ngtcp2_rst: Remove window filter
  lib/ngtcp2_rst.c
  lib/ngtcp2_rst.h
  lib/ngtcp2_rtb.c
Labels: area/lib

#1361 Add missing ispow2 macro comment
  lib/ngtcp2_ringbuf.c
Labels: area/lib

#1363 examples: Bail out with ciphers option when TLS stack ignores it
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
  examples/util_openssl.cc
Labels: area/examples

#1364 CUBIC RFC 9438
  lib/ngtcp2_bbr.c
  lib/ngtcp2_cc.c
  lib/ngtcp2_cc.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_rtb.c
Labels: area/lib

#1365 Amend CUBIC
  lib/ngtcp2_cc.c
  lib/ngtcp2_cc.h
Labels: area/lib

#1366 Hystart++ RFC 9406
  lib/ngtcp2_cc.c
  lib/ngtcp2_cc.h
Labels: area/lib

#1368 PING bundled with ACK should trigger PTO
  lib/ngtcp2_conn.c
Labels: area/lib

#1369 Extend ngtcp2_frame
  lib/ngtcp2_pkt.h
Labels: area/lib
