Repository ngtcp2/ngtcp2, pull requests merged in 2024-04, with the labels that each got.

#1195 ci: Add macos-14
  .github/workflows/build.yml
  README.rst
  ci/build_wolfssl.sh
Labels: tls/boringssl, area/github, area/tls

#1196 server: Fix stateless reset buffer stack buffer overflow
  examples/h09server.cc
  examples/server.cc
Labels: area/examples

#1198 Adopt std::to_array
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
  examples/tls_client_session_picotls.cc
  examples/tls_server_context_picotls.cc
Labels: area/examples

#1199 Fix interop
  interop/Dockerfile
Labels: area/interop

#1201 client: Use std::span for sized binary data
  examples/client.cc
  examples/client.h
  examples/h09client.cc
  examples/h09client.h
Labels: area/examples

#1202 examples: More std::span
  examples/client.cc
  examples/debug.cc
  examples/debug.h
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
  examples/tls_session_base_gnutls.cc
  examples/util.cc
  examples/util.h
  examples/util_gnutls.cc
  examples/util_openssl.cc
  examples/util_test.cc
  examples/util_wolfssl.cc
Labels: area/examples

#1203 std::unordered_map lookup by std::string_view
  examples/h09server.cc
  examples/h09server.h
  examples/server.cc
  examples/server.h
  examples/util.cc
  examples/util.h
Labels: area/examples

#1205 Refactor Buffer
  examples/h09server.cc
  examples/server.cc
  examples/server_base.h
Labels: area/examples

#1206 interop: Support linux/arm64
  interop/Dockerfile
Labels: area/interop

#1204 chore: Build multi-platform Docker image during CI
  .github/workflows/interop-build.yml
Labels: area/github, area/interop

#1207 interop: Build images on multiple runners
  .github/workflows/interop-build.yml
Labels: area/github, area/interop

#1208 interop: Push multi platform images
  .github/workflows/interop.yml
Labels: area/github, area/interop

#1209 Fix interop image tag
  .github/workflows/interop.yml
Labels: area/github, area/interop

#1210 interop: Add missing h09 client/server
  interop/Dockerfile
Labels: area/interop

#1211 Refactor format_hex
  examples/util.cc
  examples/util.h
  examples/util_test.cc
  examples/util_test.h
Labels: area/examples

#1212 CMakeLists(.txt): Add Build Test info on summary
  CMakeLists.txt
Labels: build/cmake, area/build

#1214 server: Refactor packet write
  examples/h09server.cc
  examples/h09server.h
  examples/server.cc
  examples/server.h
Labels: area/examples

#1216 Remove unused streq_l
  examples/util.h
Labels: area/examples
