Repository ngtcp2/ngtcp2, pull requests merged in 2024-02, with the labels that each got.

#1098 nghttp3 now requires git submodule
  README.rst
  ci/build_nghttp3.sh
  docker/Dockerfile
  interop/Dockerfile
Labels: area/document, area/github, area/interop, area/docker

#1100 Rewrite ngtcp2_cbrt
  lib/ngtcp2_cc.c
  tests/ngtcp2_cc_test.c
Labels: area/lib

#1103 Fix typo
  lib/ngtcp2_buf.h
Labels: area/document

#1107 Rewrite hexdump
  examples/util.cc
  examples/util.h
Labels: area/examples

#1108 hexdump: Add an extra whitespace after address
  examples/util.cc
Labels: area/examples

#1110 hexdump: Fix the last address is not shown
  examples/util.cc
  examples/util_test.cc
  examples/util_test.h
Labels: area/examples

#1111 examples: Add include in GnuTLS example
  examples/util_gnutls.cc
Labels: tls/gnutls, area/examples, area/tls

#1113 examples: Minor fixup
  examples/util_test.cc
Labels: area/examples

#1115 Bump aws-lc to v1.21.0
  .github/workflows/build.yml
  README.rst
Labels: area/github, area/tls, tls/aws-lc

#1117 Bump boringssl
  .github/workflows/build.yml
  README.rst
Labels: tls/boringssl, area/github, area/tls

#1119 Bump openssl
  .github/workflows/build.yml
Labels: tls/quictls, area/github, area/tls

#1120 examples: Fix operator precedence error
  examples/util.cc
Labels: area/examples

#1122 Erase sensitive data before freeing memory
  CMakeLists.txt
  cmakeconfig.h.in
  configure.ac
  lib/ngtcp2_crypto.c
Labels: area/lib

#1123 Fix compile error with libstdc++6-14
  examples/tls_server_context_picotls.cc
  examples/util_openssl.cc
  examples/util_wolfssl.cc
Labels: area/examples

#1124 Make congestion controller use the current path MTU
  lib/includes/ngtcp2/ngtcp2.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_rtb.c
Labels: area/lib

#1125 Reduce malloc call in conn_new
  lib/ngtcp2_conn.c
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1127 Add missing FindJemalloc.cmake to EXTRA_DIST
  Makefile.am
Labels: build/cmake, area/build

#1130 Automate release process
  .github/workflows/build.yml
  makerelease.sh
Labels: area/github

#1132 examples: Add --pmtud-probes option
  examples/client.cc
  examples/client_base.h
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
  examples/server_base.h
Labels: area/examples

#1134 Accept zero length UDP datagram payload and just return 0
  lib/ngtcp2_conn.c
Labels: area/lib

#1136 Adjust simpleclient buffer to have default max_tx_udp_payload_size
  examples/gtlssimpleclient.c
  examples/simpleclient.c
Labels: area/examples

#1137 Document about outgoing UDP datagram payload size
  doc/source/programmers-guide.rst
  lib/includes/ngtcp2/ngtcp2.h
Labels: area/document

#1138 Move ngtcp2_settings_default_versioned to ngtcp2_settings.c
  lib/ngtcp2_conn.c
  lib/ngtcp2_settings.c
Labels: area/lib

#1139 Refactor acktr
  lib/ngtcp2_acktr.c
  lib/ngtcp2_acktr.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_ringbuf.h
  tests/ngtcp2_acktr_test.c
Labels: area/lib

#1140 Cleanup free functions called from conn_new
  lib/ngtcp2_conn.c
Labels: area/lib

#1141 Make functions that discard pkns callable from the other source files
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1142 Add typed ngtcp2_min and ngtcp2_max functions
  lib/ngtcp2_bbr.c
  lib/ngtcp2_cc.c
  lib/ngtcp2_conn.c
  lib/ngtcp2_macro.h
  lib/ngtcp2_pkt.c
  lib/ngtcp2_pmtud.c
  lib/ngtcp2_pq.c
  lib/ngtcp2_rob.c
  lib/ngtcp2_rtb.c
Labels: area/lib

#1143 Avoid setting 0 after memset
  lib/ngtcp2_crypto.c
  lib/ngtcp2_rtb.c
Labels: area/lib
