Repository ngtcp2/ngtcp2, pull requests merged in 2024-06, with the labels that each got.

#1235 Adjust memory pool allocation units to reduce allocation size
  lib/ngtcp2_acktr.c
  lib/ngtcp2_conn.c
  lib/ngtcp2_ksl.c
Labels: area/lib

#1237 Adjust NGTCP2_ACKTR_MAX_ENT to match NGTCP2_MAX_ACK_RANGES + 1
  lib/ngtcp2_acktr.h
Labels: area/lib

#1238 Allocate ngtcp2_acktr_entry at once not to waste memory
  lib/ngtcp2_acktr.c
Labels: area/lib

#1239 Update doc
  lib/ngtcp2_ksl.h
Labels: area/lib

#1240 Reset pto_count when disarming loss detection timer
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
Labels: area/lib

#1241 Bump boringssl
  .github/workflows/build.yml
  README.rst
Labels: tls/boringssl, area/github, area/tls

#1242 Bump aws-lc to v1.29.0
  .github/workflows/build.yml
  README.rst
Labels: area/github, area/tls, tls/aws-lc

#1243 Bump picotls
  .github/workflows/build.yml
  README.rst
Labels: tls/picotls, area/github, area/tls

#1245 Fix memory leak when stream datacnt gets below allocation threshold
  lib/ngtcp2_frame_chain.c
  lib/ngtcp2_frame_chain.h
  lib/ngtcp2_strm.c
  tests/ngtcp2_strm_test.c
Labels: area/lib

#1247 Refactor ngtcp2_frame_chain allocation for ngtcp2_stream
  lib/ngtcp2_frame_chain.c
  lib/ngtcp2_frame_chain.h
Labels: area/lib

#1249 Refactor gha
  .github/workflows/build.yml
Labels: area/github

#1251 Fix examples for picotls + libressl
  examples/tls_client_context_picotls.cc
  examples/tls_server_context_picotls.cc
Labels: tls/quictls, area/examples, area/tls

#1253 Cleanup end of macro comments and clang-format
  examples/tls_client_context_picotls.cc
  examples/tls_server_context_picotls.cc
Labels: tls/picotls, area/examples, area/tls

#1254 GHA: Remove EXTRA_LDFLAGS
  .github/workflows/build.yml
Labels: area/github

#1256 Add ngtcp2_tpe, testing packet encoder
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_test_helper.c
  tests/ngtcp2_test_helper.h
Labels: area/tests

#1258 Disable dependency tracking
  .clusterfuzzlite/build.sh
  .github/workflows/build.yml
  ci/build_nghttp3.sh
  ci/build_wolfssl.sh
  docker/Dockerfile
  interop/Dockerfile
Labels: area/github, build/autotools, area/build, area/interop, area/docker, area/fuzz

#1259 GHA: Suppress warnings
  .github/workflows/build.yml
Labels: area/github

#1260 Fix UDP_GRO struct cmsghdr data type
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
  examples/shared.cc
Labels: area/examples
