Repository ngtcp2/ngtcp2, pull requests merged in 2025-05, with the labels that each got.

#1644 Make as_uint8_span consteval
  examples/shared.h
Labels: area/examples

#1645 Avoid slower std::ranges::mismatch
  examples/util.h
Labels: area/examples

#1647 putting important libdir and incdir first
  examples/Makefile.am
Labels: build/autotools, area/build

#1646 Bump libressl to v4.1.0
  .github/workflows/build.yml
  README.rst
  ci/build_libressl.sh
Labels: area/crypto, tls/libressl

#1651 Make istarts_with constexpr
  examples/util.h
Labels: area/examples

#1653 Bump boringssl
  .github/workflows/build.yml
  README.rst
Labels: tls/boringssl, area/tls

#1657 Add -Wconversion to C++ compiler
  configure.ac
  examples/client.cc
  examples/debug.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/h09server.h
  examples/server.cc
  examples/server.h
  examples/server_base.h
  examples/shared.cc
  examples/shared.h
  examples/siphash_test.cc
  examples/template.h
  examples/tls_client_context_boringssl.cc
  examples/tls_client_context_ossl.cc
  examples/tls_client_context_picotls.cc
  examples/tls_client_context_quictls.cc
  examples/tls_client_context_wolfssl.cc
  examples/tls_client_session_gnutls.cc
  examples/tls_client_session_picotls.cc
  examples/tls_client_session_wolfssl.cc
  examples/tls_server_context_boringssl.cc
  examples/tls_server_context_ossl.cc
  examples/tls_server_context_picotls.cc
  examples/tls_server_context_quictls.cc
  examples/tls_server_context_wolfssl.cc
  examples/tls_server_session_boringssl.cc
  examples/tls_session_base_gnutls.cc
  examples/tls_session_base_quictls.cc
  examples/util.cc
  examples/util.h
  examples/util_gnutls.cc
  examples/util_openssl.cc
  examples/util_wolfssl.cc
Labels: area/examples

#1658 Template port
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
  examples/tls_session_base_gnutls.cc
  examples/util.cc
  examples/util.h
  examples/util_test.cc
Labels: area/examples

#1659 Add util::system_clock_now
  examples/h09server.cc
  examples/server.cc
  examples/util.cc
  examples/util.h
Labels: area/examples

#1660 Make read_pem return std::vector<uint8_t>
  examples/client.cc
  examples/h09client.cc
  examples/util.cc
  examples/util.h
  examples/util_gnutls.cc
  examples/util_openssl.cc
  examples/util_test.cc
  examples/util_wolfssl.cc
Labels: area/examples
