Repository ngtcp2/ngtcp2, pull requests merged in 2025-04, with the labels that each got.

#1591 examples/server: Rate limit connection_close
  examples/h09server.cc
  examples/h09server.h
  examples/server.cc
  examples/server.h
Labels: area/examples

#1592 Remember validated path
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1593 Avoid PMTUD if it is disabled by configuration
  lib/ngtcp2_conn.c
Labels: area/lib

#1594 Tstamp
  lib/includes/ngtcp2/ngtcp2.h
  lib/ngtcp2_conn.c
Labels: area/lib

#1596 Restore MTU from path_history
  lib/ngtcp2_cid.c
  lib/ngtcp2_cid.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1600 Skip packet number
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  lib/ngtcp2_rtb.c
  lib/ngtcp2_rtb.h
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_rtb_test.c
Labels: area/lib

#1601 Extend lost packet timeout
  lib/ngtcp2_conn.c
  lib/ngtcp2_rtb.c
  lib/ngtcp2_rtb.h
Labels: area/lib

#1602 Recommend secure random generator for ngtcp2_rand callback
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
  examples/simpleclient.c
  lib/includes/ngtcp2/ngtcp2.h
Labels: area/document, area/examples

#1603 Fix assertion failure
  lib/ngtcp2_conn.c
Labels: area/lib

#1607 Add tests for skipped packets
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_conn_test.h
Labels: area/tests

#1609 Fix ppe
  lib/ngtcp2_ppe.c
Labels: area/lib

#1610 Padding ack eliciting pkt
  examples/h09server.cc
  examples/server.cc
  lib/ngtcp2_conn.c
Labels: area/lib, area/examples

#1608 CMake: Add ENABLE_LIB_ONLY option
  CMakeLists.txt
  CMakeOptions.txt
Labels: build/cmake, area/build

#1611 Remove unused ngtcp2_ppe_pktlen
  lib/ngtcp2_ppe.c
  lib/ngtcp2_ppe.h
Labels: area/lib

#1612 clang-format crypto/ossl
  Makefile.am
Labels: area/crypto, tls/openssl

#1613 Bbr fix
  lib/ngtcp2_bbr.c
Labels: area/lib

#1614 bbr: Rename *_hi and *_lo to *_longterm and *_shortterm
  lib/ngtcp2_bbr.c
  lib/ngtcp2_bbr.h
Labels: area/lib

#1615 GHA: Replace macos-13 with macos-15
  .github/workflows/build.yml
Labels: area/github

#1616 Build arm interop image on arm runner
  .github/workflows/interop-build.yml
  .github/workflows/interop.yml
  interop/Dockerfile
Labels: area/github, area/interop

#1620 Bump boringssl
  .github/workflows/build.yml
  README.rst
Labels: tls/boringssl, area/tls

#1621 Bump aws-lc to v1.49.1
  .github/workflows/build.yml
  README.rst
Labels: area/tls, tls/aws-lc

#1623 Update doc
  crypto/includes/ngtcp2/ngtcp2_crypto_picotls.h
  lib/includes/ngtcp2/ngtcp2.h
Labels: area/document

#1624 Update CMakeLists.txt to fix the error of check_symbol_exists() when static-link openssl.
  CMakeLists.txt
Labels: build/cmake, area/build

#1625 Fix path response padding
  lib/ngtcp2_conn.c
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1626 Make a packet containing PATH_RESPONSE to active path non-probing
  lib/ngtcp2_conn.c
Labels: area/lib

#1627 Make pacing less bursty
  lib/ngtcp2_conn.c
Labels: area/lib

#1628 Add extra precision to pacing_interval
  lib/ngtcp2_bbr.c
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn_stat.h
Labels: area/lib

#1629 Refactor cubic
  lib/ngtcp2_cc.c
  lib/ngtcp2_cc.h
Labels: area/lib

#1630 cubic: Bound time_delta
  lib/ngtcp2_cc.c
Labels: area/lib

#1634 Bump wolfssl to v5.8.0-stable
  .github/workflows/build.yml
  README.rst
  docker/Dockerfile
  interop/Dockerfile
Labels: tls/wolfssl, area/github, area/tls

#1635 examples/server: Refactor packet write
  examples/h09server.cc
  examples/h09server.h
  examples/server.cc
  examples/server.h
Labels: area/examples

#1636 examples/server: Add const qualifier to Endpoint when passed to function
  examples/h09server.cc
  examples/h09server.h
  examples/server.cc
  examples/server.h
  examples/shared.cc
  examples/shared.h
Labels: area/examples

#1637 examples/server: Refactor on_send_blocked
  examples/h09server.cc
  examples/h09server.h
  examples/server.cc
  examples/server.h
Labels: area/examples

#1638 examples/client: Refactor packet write path
  examples/client.cc
  examples/client.h
  examples/h09client.cc
  examples/h09client.h
Labels: area/examples

#1640 examples: Adopt std::span::first
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
Labels: area/examples
