Repository ngtcp2/ngtcp2, pull requests merged in 2025-07, with the labels that each got.

#1690 Build with the latest nghttp3
  examples/client.cc
  examples/server.cc
Labels: area/examples

#1692 Assert that fin is set or datalen > 0
  lib/ngtcp2_conn.c
Labels: area/lib

#1693 Return error if too many STREAM frames are accumulated for resend
  lib/ngtcp2_conn.c
  lib/ngtcp2_strm.c
Labels: area/lib

#1696 Fragmented
  lib/ngtcp2_strm.c
Labels: area/lib

#1697 examples/server: Set GRO socket option
  examples/h09server.cc
  examples/server.cc
Labels: area/examples

#1698 tests: Compound Literals
  tests/ngtcp2_acktr_test.c
  tests/ngtcp2_addr_test.c
  tests/ngtcp2_callbacks_test.c
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_pkt_test.c
  tests/ngtcp2_qlog_test.c
  tests/ngtcp2_rtb_test.c
  tests/ngtcp2_strm_test.c
  tests/ngtcp2_test_helper.c
  tests/ngtcp2_transport_params_test.c
  tests/ngtcp2_vec_test.c
Labels: area/tests

#1699 Avoid memset for 1-RTT ngtcp2_pktns
  lib/ngtcp2_conn.c
Labels: area/lib

#1700 lib: Compound Literals
  lib/ngtcp2_bbr.c
  lib/ngtcp2_cc.c
  lib/ngtcp2_conn.c
  lib/ngtcp2_log.c
  lib/ngtcp2_rtb.c
  lib/ngtcp2_transport_params.c
Labels: area/lib

#1701 Compile with the latest nghttp3
  examples/client.cc
  examples/debug.cc
  examples/debug.h
  examples/server.cc
Labels: area/examples

#1702 examples/client: Write ECH retry configs on ech_required alert
  examples/client.cc
  examples/client_base.h
  examples/h09client.cc
  examples/shared.h
  examples/tls_client_session_boringssl.cc
  examples/tls_client_session_boringssl.h
  examples/tls_client_session_gnutls.h
  examples/tls_client_session_ossl.h
  examples/tls_client_session_picotls.h
  examples/tls_client_session_quictls.h
  examples/tls_client_session_wolfssl.h
Labels: area/examples

#1703 Bump OpenSSL to v3.5.1
  .github/workflows/build.yml
Labels: area/github, area/tls, tls/openssl

#1704 Refactor macros
  lib/ngtcp2_buf.h
  lib/ngtcp2_ksl.h
  lib/ngtcp2_ringbuf.h
  lib/ngtcp2_vec.h
Labels: area/lib

#1705 Bump picotls
  .github/workflows/build.yml
  README.rst
Labels: tls/picotls, area/github, area/tls

#1672 examples: Fix #1670 (zero session_ticket_key_ before destruction)
  examples/tls_server_context_gnutls.cc
Labels: tls/gnutls, area/examples, area/tls

#1706 tests: Add migration test for client with zero-length SCID
  tests/ngtcp2_conn_test.c
Labels: area/tests

#1707 Run quic-interop-runner
  .github/workflows/quic-interop-runner.yml
Labels: area/github, area/interop

#1712 Bump boringssl
  .github/workflows/build.yml
  README.rst
Labels: tls/boringssl, area/tls

#1713 Bump picotls
  .github/workflows/build.yml
  README.rst
Labels: tls/picotls, area/tls

#1715 Examples pqc
  README.rst
  ci/build_wolfssl.sh
  docker/Dockerfile
  examples/tls_client_context_picotls.cc
  examples/tls_client_context_wolfssl.cc
  examples/tls_server_context_picotls.cc
  examples/tls_server_context_wolfssl.cc
  examples/util_wolfssl.cc
  interop/Dockerfile
Labels: tls/wolfssl, tls/picotls, area/examples, area/tls

#1717 Bump aws-lc to v1.56.0
  .github/workflows/build.yml
  README.rst
Labels: area/tls, tls/aws-lc

#1719 Require nghttp3 >= v1.11.0
  CMakeLists.txt
  configure.ac
Labels: area/build

#1721 Use Requires.private because it is needed for static linking
  crypto/boringssl/libngtcp2_crypto_boringssl.pc.in
  crypto/gnutls/libngtcp2_crypto_gnutls.pc.in
  crypto/ossl/libngtcp2_crypto_ossl.pc.in
  crypto/quictls/libngtcp2_crypto_quictls.pc.in
  crypto/wolfssl/libngtcp2_crypto_wolfssl.pc.in
Labels: area/build

#1722 Use fallback_path consistently
  lib/includes/ngtcp2/ngtcp2.h
  lib/ngtcp2_conn.c
Labels: area/lib

#1723 examples: Share get_string for urlparse_url.field_data
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
  examples/util.h
Labels: area/examples

#1724 examples: Fix Connection ID validation
  examples/client.cc
  examples/h09client.cc
  examples/util.h
  examples/util_test.cc
  examples/util_test.h
Labels: area/examples
