Repository ngtcp2/ngtcp2, pull requests merged in 2025-08, with the labels that each got.

#1727 Aggregate pkts for gso
  examples/client.cc
  examples/client.h
  examples/h09client.cc
  examples/h09client.h
  examples/h09server.cc
  examples/h09server.h
  examples/server.cc
  examples/server.h
  lib/includes/ngtcp2/ngtcp2.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_conn_test.h
Labels: area/lib, area/examples

#1730 Pcg
  lib/CMakeLists.txt
  lib/Makefile.am
  lib/ngtcp2_bbr.c
  lib/ngtcp2_bbr.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  lib/ngtcp2_pcg.c
  lib/ngtcp2_pcg.h
  tests/CMakeLists.txt
  tests/Makefile.am
  tests/main.c
  tests/ngtcp2_pcg_test.c
  tests/ngtcp2_pcg_test.h
Labels: area/lib

#1728 Chaos protection
  lib/ngtcp2_buf.c
  lib/ngtcp2_buf.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  lib/ngtcp2_frame_chain.h
  lib/ngtcp2_pkt.c
  lib/ngtcp2_pkt.h
  lib/ngtcp2_vec.c
  lib/ngtcp2_vec.h
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_conn_test.h
  tests/ngtcp2_pkt_test.c
  tests/ngtcp2_pkt_test.h
  tests/ngtcp2_vec_test.c
  tests/ngtcp2_vec_test.h
Labels: area/lib

#1732 Rename ngtcp2_conn_aggregate_pkts to ngtcp2_conn_write_aggregate_pkt
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
  lib/includes/ngtcp2/ngtcp2.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_conn_test.h
Labels: area/lib

#1733 ngtcp2_conn_write_aggregate_pkt: Remove max_num_pkts parameter
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
  lib/includes/ngtcp2/ngtcp2.h
  lib/ngtcp2_conn.c
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1735 Glitch
  lib/CMakeLists.txt
  lib/Makefile.am
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  lib/ngtcp2_ratelim.c
  lib/ngtcp2_ratelim.h
  lib/ngtcp2_rob.c
  lib/ngtcp2_rob.h
  lib/ngtcp2_strm.c
  lib/ngtcp2_strm.h
  tests/CMakeLists.txt
  tests/Makefile.am
  tests/main.c
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_ratelim_test.c
  tests/ngtcp2_ratelim_test.h
  tests/ngtcp2_rob_test.c
Labels: area/lib

#1739 Bump OpenSSL to v3.5.2
  .github/workflows/build.yml
Labels: area/github, area/tls, tls/openssl

#1742 Bump clang to 19
  .github/workflows/build.yml
  interop/Dockerfile
Labels: area/github, area/interop

#1743 Fix skipping packet number
  lib/ngtcp2_conn.c
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_conn_test.h
Labels: area/lib

#1744 Fix libngtcp2_crypto_ossl.so versioning on CMake
  CMakeLists.txt
Labels: build/cmake, area/build, area/tls, tls/openssl

#1746 Fix initial CRYPTO crumbling
  lib/ngtcp2_conn.c
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1747 Break when buffer size is smaller than path max MTU
  lib/ngtcp2_conn.c
Labels: area/lib

#1753 doc: Add "Aggregate packets for GSO" section
  doc/source/programmers-guide.rst
Labels: area/document

#1755 GHA: Reduce distcheck tests to 1
  .github/workflows/build.yml
Labels: area/github

#1757 GHA: Set permissions for quic-interop-runner
  .github/workflows/quic-interop-runner.yml
Labels: area/github

#1759 Export packet stats to ngtcp2_conn_info
  lib/CMakeLists.txt
  lib/Makefile.am
  lib/includes/ngtcp2/ngtcp2.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn_info.c
  lib/ngtcp2_conn_info.h
  lib/ngtcp2_conn_stat.h
  tests/CMakeLists.txt
  tests/Makefile.am
  tests/main.c
  tests/ngtcp2_conn_info_test.c
  tests/ngtcp2_conn_info_test.h
Labels: area/lib

#1760 ngtcp2_log: Do not format string
  lib/ngtcp2_bbr.c
  lib/ngtcp2_cc.c
  lib/ngtcp2_conn.c
  lib/ngtcp2_log.c
  lib/ngtcp2_log.h
  lib/ngtcp2_rtb.c
Labels: area/lib

#1761 Fix format specifier
  lib/ngtcp2_conn.c
Labels: area/lib

#1764 Remove unused NGTCP2_MAX_RETRIES macro
  lib/ngtcp2_conn.h
Labels: area/lib
