Repository ngtcp2/ngtcp2, pull requests merged in 2025-10, with the labels that each got.

#1812 examples: Limit tx buffer for non-GSO case
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
Labels: area/examples

#1811 Replace POPCNT-based ispow2 with portable bitwise implementation to prevent illegal instruction crashes
  lib/ngtcp2_ringbuf.c
Labels: area/lib

#1815 Bump openssl to v3.6.0
  .github/workflows/build.yml
Labels: area/github, area/tls, tls/openssl

#1816 bbr: Avoid modifying ngtcp2_rs on packet loss
  lib/ngtcp2_bbr.c
Labels: area/lib

#1820 Make sure that CC on_ack_recv when ACK is received
  lib/ngtcp2_rtb.c
Labels: area/lib

#1821 Use solely cc_ack.largest_pkt_sent_ts and remove largest_pkt_sent_ts
  lib/ngtcp2_rtb.c
Labels: area/lib

#1822 Pass ngtcp2_cc_ack to CC on_congestion_event
  lib/ngtcp2_bbr.c
  lib/ngtcp2_bbr.h
  lib/ngtcp2_cc.c
  lib/ngtcp2_cc.h
  lib/ngtcp2_rtb.c
Labels: area/lib
