Repository ngtcp2/ngtcp2, pull requests merged in 2025-01, with the labels that each got.

#1462 fuzz: Exercise memory allocation failures
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1463 fuzz: Exercise callback failures
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1465 tests: Fix uninitialized variable reference
  tests/ngtcp2_transport_params_test.c
Labels: area/tests

#1466 Fix uninitialized connection close frame_type
  lib/ngtcp2_conn.c
Labels: area/lib

#1469 Update doc
  lib/ngtcp2_acktr.h
Labels: area/document, area/lib

#1471 C++ designated initializers
  examples/client.cc
  examples/examplestest.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
  examples/shared.cc
  examples/util_gnutls.cc
  examples/util_test.cc
Labels: area/examples

#1474 fuzz: Decode transport parameters from raw fuzzed data
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1475 fuzz: Send stream data
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1476 ngtcp2_ringbuf_full: Add const qualifier to rb
  lib/ngtcp2_ringbuf.c
  lib/ngtcp2_ringbuf.h
Labels: area/lib

#1478 fuzz: Don't free data encoded in STREAM frame
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1477 fuzz: Add missing callbacks
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1479 Extract code around Destination Connection ID to ngtcp2_dcidtr
  lib/CMakeLists.txt
  lib/Makefile.am
  lib/ngtcp2_cid.c
  lib/ngtcp2_cid.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  lib/ngtcp2_dcidtr.c
  lib/ngtcp2_dcidtr.h
  lib/ngtcp2_rtb.c
  tests/CMakeLists.txt
  tests/Makefile.am
  tests/main.c
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_dcidtr_test.c
  tests/ngtcp2_dcidtr_test.h
Labels: area/lib

#1480 fuzz: Exercise ngtcp2_conn_handle_expiry()
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1481 Deal with very large ack_delay
  lib/ngtcp2_conn.c
Labels: area/lib

#1482 fuzz: Exercise ngtcp2_conn_initiate_migration()
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1483 fuzz: Exercise extending max offsets
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1484 Avoid limiting CWND during path validation
  lib/ngtcp2_conn.c
Labels: area/lib

#1487 fuzz: Set negotiated version before setting remote transport params
  fuzz/read_write_pkt.cc
Labels: area/fuzz

#1488 Add ngtcp2_pv_set_fallback
  lib/ngtcp2_conn.c
  lib/ngtcp2_pv.c
  lib/ngtcp2_pv.h
Labels: area/lib

#1489 Fix ngtcp2_conn_get_active_dcid for zero-length DCID
  lib/ngtcp2_conn.c
  lib/ngtcp2_dcidtr.c
  lib/ngtcp2_dcidtr.h
  tests/ngtcp2_conn_test.c
  tests/ngtcp2_dcidtr_test.c
Labels: area/lib

#1490 Remove redundant ngtcp2_dcid_set_path call
  lib/ngtcp2_conn.c
Labels: area/lib

#1491 Add const qualifier as we did in conn_get_loss_time_and_pktns
  lib/ngtcp2_conn.c
Labels: area/lib

#1492 Rename NGTCP2_PV_FLAG_FALLBACK_ON_FAILURE to NGTCP2_PV_FLAG_FALLBACK_PRESENT
  lib/ngtcp2_conn.c
  lib/ngtcp2_pv.c
  lib/ngtcp2_pv.h
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1493 examples: nullptr
  examples/examplestest.cc
Labels: area/examples

#1494 Rename persistent_congestion_started_ts to handshake_confirmed_ts
  fuzz/read_write_pkt.cc
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  lib/ngtcp2_rtb.c
  lib/ngtcp2_rtb.h
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1496 picotls: Reset AEAD IV on decryption failure
  crypto/picotls/picotls.c
Labels: tls/picotls, area/crypto, area/tls

#1497 crypto/picotls: clang-format
  Makefile.am
  crypto/picotls/picotls.c
Labels: tls/picotls, area/crypto, area/tls

#1498 Allocate ACK frame buffer on stack
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1499 Move fields required to make ACK to ngtcp2_acktr
  lib/ngtcp2_acktr.c
  lib/ngtcp2_acktr.h
  lib/ngtcp2_conn.c
  lib/ngtcp2_conn.h
  lib/ngtcp2_rtb.c
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1500 Avoid buffering padding bytes
  lib/ngtcp2_conn.c
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1501 Revert "Avoid buffering padding bytes"
  lib/ngtcp2_conn.c
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1502 The minimum valid QUIC packet length is 21
  examples/client.cc
  examples/h09client.cc
  examples/h09server.cc
  examples/server.cc
Labels: area/examples

#1503 Avoid buffering padding bytes, take 2
  lib/ngtcp2_conn.c
  lib/ngtcp2_pkt.h
  tests/ngtcp2_conn_test.c
Labels: area/lib

#1504 Amend #1502
  examples/h09server.cc
  examples/server.cc
Labels: area/examples

#1505 BBR update
  lib/ngtcp2_bbr.c
  lib/ngtcp2_conn.c
Labels: area/lib
